body {
    background-color: rgb(115, 156, 178) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3482bd;
}.kotak{
    background-color: #f4f5f6;
    border-radius: 15px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    width : 500px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);

}.kepala h1 {
    color: white;
    transition: all 0.2s ease;
}
.kepala {
    background-color: #8fabd4c5;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    height: 3.5rem;
}.kepala ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 20px;
}.kepala ul a:hover{
    background-color: #4a6180;
    color: #ffffff;
}
.kepala a{
    color: azure;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s ease;
}.isi {
    display: flex;
    margin-top: 2rem;

}.isi img {
    width: 200px;
    height: 200px;
    margin-right: 1rem;
    border-radius: 30px;
    border: 8px solid #4a70a991
}.teksmain {
    position: relative;
    top: -10px;
    display: flex;
    flex-direction: column;
}.teksmain h1 {
    margin-bottom:0;
    line-height: 2rem;
}
   
.tentang {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #4A70A9;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}.tentang h2 {
    margin-top: 2px;
    margin-bottom:0;
}.pendidikan ul{
    line-height: 1rem;
}.kontak {
    line-height: 20px;
   
}.kontak a{
    text-decoration: none;
     
}.kontak a:hover {
    color: #7f257f;
    text-decoration: underline;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color:#4A70A9; 
    color: #f4f5f6;
    
}.cp {
    position: relative;
    top: 15px;
    background-color: #16222e;
    width: 100%;
    text-align: center;
    
}